*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
li {
  list-style: none;
}

:root {
  --cream: #f0f0c9;
  --coffee: #553a25;
  --coffee-with-cream: #d6a04b;
  --machine-yellow: #f0a202;
  --machine-brown: #581f18;
  --machine-pink: #d9bdc5;
  --black: #000000;
  --ff-courgette: "Courgette", cursive;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--cream);
  font-family: var(--ff-courgette);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  padding-bottom: 50px; /* set the padding to be the height of the footer */
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
}

.machine-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cream);
  width: 25rem;
  height: 28rem;
}
.machine-wrapper .machine-base {
  width: 80%;
  height: 90%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.machine-wrapper .machine-base-top {
  background-color: var(--machine-yellow);
  width: 100%;
  height: 45%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.machine-wrapper .machine-base-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--machine-pink);
  width: 100%;
  height: 55%;
}
.machine-wrapper .machine-base-bottom .spout {
  position: absolute;
  top: 0;
  background-color: var(--black);
  width: 45px;
  height: 32px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}
.machine-wrapper .machine-base-bottom img {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  margin-left: 14px;
}
.machine-wrapper .machine-bottom {
  background-color: var(--machine-brown);
  width: 85%;
  height: 20%;
  border-radius: 8px;
}

/*# sourceMappingURL=styles.css.map */
