// COLORS & FONT
:root {
  --cream: #f0f0c9;
  --coffee: #553a25;
  --coffee-with-cream: #d6a04b;
  --machine-yellow: #f0a202;
  --machine-brown: #581f18;
  --machine-pink: #d9bdc5;
  --black: #000000;

  // Font Families
  --ff-courgette: "Courgette", cursive;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--cream);
  font-family: var(--ff-courgette);
  overflow: hidden;
}
